<!-- Contenedor general oscuro -->
<div class="contenedor-app">
<H1>MusicBares <h2>Registrar</h2></H1>
<br>
<br>

<br>
  <!-- Tarjeta reutilizable del sistema -->
  <div class="tarjeta">

    <h3>Crear cuenta</h3>

    <!-- Formulario reactivo -->
    <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">

      <!-- Campo correo -->
      <div class="grupo-campo">
        <label>Correo electrónico</label>
        <input type="email" formControlName="correo" placeholder="E-mail ">
      </div>

      <!-- Campo contraseña -->
      <div class="grupo-campo">
        <label>Contraseña</label>
        <input type="password" formControlName="clave" placeholder="contraseña ">
      </div>

      <!-- Botón -->
      <button type="submit" [disabled]="formularioRegistro.invalid">
        Crear cuenta
      </button>

    </form>

  </div>

</div>
