<!-- Contenedor general oscuro -->
<div class="contenedor-app">

  <!-- Tarjeta reutilizable del sistema -->
  <div class="tarjeta">

    <h2>Crear cuenta</h2>

    <!-- Formulario reactivo -->
    <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">

      <!-- Campo correo -->
      <div class="grupo-campo">
        <label>Correo electrónico</label>
        <input type="email" formControlName="correo" placeholder="correo electronico ">
      </div>

      <!-- Campo contraseña -->
      <div class="grupo-campo">
        <label>Contraseña</label>
        <input type="password" formControlName="clave" placeholder="contraseña minimo 8 digitos">
      </div>

      <!-- Botón -->
      <button type="submit" [disabled]="formularioRegistro.invalid">
        Crear cuenta
      </button>

    </form>

  </div>

</div>
