/* ============================= */
/* FONDO GENERAL */
body {
  margin: 0;
  background: #0f172a;
  font-family: "Orbitron", sans-serif;
}

/* ============================= */
/* CONTENEDOR PADRE */
.contain {
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;       /* centra vertical */
  padding: 20px;
}

/* ============================= */
/* CONTENEDOR PRINCIPAL */
.containerVAlidacion {
  width: 34%;
  max-width: 500px;
  min-width: 320px; /* evita que se rompa en móvil */

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(17, 24, 39, 0.7);
  padding: 40px 20px 20px 20px;

  text-shadow: 0 0 8px rgba(37, 99, 235, 0.6);
  box-shadow: 0 20px 40px rgba(37, 99, 235, 0.4),
              0 0 30px rgba(59, 130, 246, 0.2);

  animation: fadeIn 0.6s ease;
  transition: all 0.4s ease;

  h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(135deg, #2563eb, #1d4ed8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #e5e7eb;
    margin-bottom: 30px;
  }

  .inputs {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* importante para móvil */

    input.Validar {
      width: 60px;
      padding: 14px;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(2, 6, 23, 0.8);
      color: #e5e7eb;
      font-size: 16px;
      text-align: center;
      letter-spacing: 2px;
    }

    button.Validar {
      padding: 14px 20px;
      border-radius: 12px;
      border: none;
      font-weight: 700;
      cursor: pointer;
      font-size: 14px;
      background: linear-gradient(135deg, #2563eb, #1d4ed8);
      color: white;
    }
  }
}

/* ============================= */
/* RESPONSIVE */
@media (max-width: 1024px) {
  .containerVAlidacion {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .containerVAlidacion {
    width: 80%;
  }
}

@media (max-width: 520px) {
  .containerVAlidacion {
    width: 70%;
    padding: 20px 15px;
   
  }

  .containerVAlidacion h1 {
    font-size: 45px;
  }

  .containerVAlidacion h2 {
    font-size: 16px;
  }
}